<% layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1>
<% for( let campground of campgrounds) { %>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <img src="<%=
      (campground.images.length>0)?campground.images[0].url:"https://res.cloudinary.com/kolpaja/image/upload/v1621554038/YelpCamp/y9gple23orvnofriy4xd.jpg"%>"
      alt="" class="img-fluid" />
    </div>
    <div class="col-md-8">
      <h1><%= campground.title %></h1>
      <p><%= campground.description %></p>
      <p class="card-text">
        <small class="text-muted"><%= campground.location %></small>
      </p>
      <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">
        View <%= campground.title %></a
      >
    </div>
  </div>
</div>
<% } %>
