<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img
        src="<%= campgrounds.image %>"
        class="card-img-top"
        alt="<%= campgrounds.description %>"
      />
      <div class="card-body">
        <h5 class="card-title"><%= campgrounds.title %></h5>
        <p class="card-text"><%= campgrounds.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= campgrounds.location %></li>
        <li class="list-group-item">
          Submitted by <%= campgrounds.author.username %>
        </li>
        <li class="list-group-item">$ <%= campgrounds.price %>/night</li>
      </ul>
      <% if (loggedInUser && campgrounds.author.equals(loggedInUser._id)) { %>
      <div class="card-body">
        <a
          href="/campgrounds/<%= campgrounds._id  %>/edit"
          class="card-link btn btn-primary"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%= campgrounds._id %>?_method=DELETE"
          method="post"
        >
          <button class="btn btn-danger card-link">Delete</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted">2 days ago</div>
    </div>

    <footer>
      <div class="mb-3">
        <a href="/campgrounds" class="link-primary text-decoration-none"
          >&#8656; back to All Campgrounds</a
        >
      </div>
    </footer>
  </div>
  <div class="col-6">
    <% if (loggedInUser) { %>
    <h2>Leave a review</h2>
    <form
      action="/campgrounds/<%= campgrounds._id %>/reviews "
      method="POST"
      class="mb-3 needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="rating" class="form-label">Rating:</label>
        <input
          type="range"
          class="form-range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review: </label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter your review</div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% } %> <% for( let review of campgrounds.reviews ) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Rating: <%= review.rating %></h5>
        <p class="card-text">
          <%= review.author.username %> : <%= review.body %>
        </p>
        <% if (loggedInUser && review.author.equals(loggedInUser._id)) { %>
        <form
          action="/campgrounds/<%= campgrounds._id %>/reviews/<%= review._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>
